## q-1-1-1
#### Implement a KNN classifier.

In [65]:
import numpy as np
from numpy import log2 as log
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.neighbors import KNeighborsClassifier
import operator
import sys

###### loading dataset

In [66]:
# dataset = sys.argv[1]
# testfile = sys.argv[2]
dataset = "iris"
def loadfile(dataset):
    if dataset=="iris":
        filename = 'input_data/Iris.csv'
        df = pd.read_csv(filename, names = ["a", "b", "c", "d", "Y"])
    elif dataset=="robot1":
        filename = 'input_data/Robot1'
        df = pd.read_csv(filename, delim_whitespace=True, names = ["Y", "a", "b", "c", "d", "e", "f", "g"])
        df = df.drop(['g'],axis=1)
    else:
        filename = 'input_data/Robot2'
        df = pd.read_csv(filename, delim_whitespace=True, names = ["Y", "a", "b", "c", "d", "e", "f", "g"])
        df = df.drop(['g'],axis=1)
    return df

df = loadfile(dataset)

###### seperating class label and preprocessing data if required

In [67]:
Y = df.Y
labels = Y.unique()
X = df.drop(['Y'], axis=1)
if dataset != "iris":
    X = pd.DataFrame(preprocessing.normalize(X), columns = ["a","b", "c", "d", "e", "f"])

###### splitting data into training and validation

In [68]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,test_size=0.2)
df1 = pd.concat([X_train, Y_train],axis=1).reset_index(drop=True)

###### using inbuilt knn classifier

In [69]:
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, Y_train)
p = neigh.predict(X_test)
print confusion_matrix(Y_test,p)
print classification_report(Y_test,p)
print accuracy_score(Y_test,p)

[[ 6  0  0]
 [ 0 10  3]
 [ 0  0  8]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         6
Iris-versicolor       1.00      0.77      0.87        13
 Iris-virginica       0.73      1.00      0.84         8

      micro avg       0.89      0.89      0.89        27
      macro avg       0.91      0.92      0.90        27
   weighted avg       0.92      0.89      0.89        27

0.8888888888888888

###### method to calculate euclidean distance

In [70]:
def euclidean_distance(x, y):   
    return np.sqrt(np.sum((x - y) ** 2))

###### predict method calculates distances of test data point to all the points available
###### store them in ascending order
###### pick first k points from the sorted list
###### count occurences of class labels
###### assign highest occurring class lable from these k points to our test data point

In [71]:
def predict(X_test,k):
    Y_predict = []
    for index, row in X_test.iterrows():
        dist = {}
        labeldict = {i:0 for i in labels}
        for index1, row1 in df1.iterrows():
            dist[index1] = euclidean_distance(row,row1)
        
        od = sorted(dist.items(), key=operator.itemgetter(1))
        count = k
        for i,j in od:
            count-=1
            labeldict[df1.iloc[i].Y]+=1
            if count==0:
                break
                
        ans_label=0
        ans_count=-1
        for i,j in labeldict.iteritems():
            if j>=ans_count:
                ans_label=i
                ans_count=j
        Y_predict.append(ans_label)
    return Y_predict

p = predict(X_test,5)
print confusion_matrix(Y_test,p)
print classification_report(Y_test,p)
print accuracy_score(Y_test,p)

x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0

Name: 117, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.5
b    3.0
c    5.2
d    2.0
Name: 117, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object

x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.3
b    2.9
c    5.6
d    1.8
Name: 119, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7

Name: 110, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object

x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.7
b    3.0
c    5.0
d    1.7
Name: 110, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object

x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object

x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.4
b    2.8
c    5.6
d    2.2
Name: 97, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object

x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object

x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.7
b    3.0
c    4.2
d    1.2
Name: 134, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object

x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.1
b    3.8
c    1.6
d    0.2
Name: 100, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object

x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object

x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    4.4
b    3.2
c    1.3
d    0.2
Name: 108, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64

y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64

y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object

x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.6
b    3.0
c    4.5
d    1.5
Name: 66, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object

x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64

y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.9
b    3.2
c    4.8
d    1.8
Name: 129, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object

x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object

x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.5
b    2.6
c    4.4
d    1.2
Name: 113, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa

Name: 22, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.9
b    3.0
c    5.1
d    1.8
Name: 48, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object

x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object

x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    4.9
b    3.6
c    1.4
d    0.1
Name: 78, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object

x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5

Name: 9, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.0
b    2.2
c    5.0
d    1.5
Name: 9, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object

x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64

y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.6
b    2.9
c    4.6
d    1.3
Name: 84, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2

Name: 59, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica

Name: 56, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.8
b    2.7
c    3.9
d    1.2
Name: 59, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64

y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor

Name: 84, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.1
b    2.8
c    4.7
d    1.2
Name: 53, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2

Name: 92, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2

Name: 92, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    7.7
b    3.8
c    6.7
d    2.2
Name: 92, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4

Name: 27, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object

x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.1
b    3.7
c    1.5
d    0.4
Name: 27, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8

Name: 40, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica

Name: 83, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    7.3
b    2.9
c    6.3
d    1.8
Name: 40, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64

y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica

Name: 61, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.0
b    2.2
c    4.0
d    1.0
Name: 101, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor

Name: 45, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object

x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.8
b    2.8
c    4.8
d    1.4
Name: 49, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64

y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica

Name: 78, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    4.6
b    3.1
c    1.5
d    0.2
Name: 121, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object

x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object

x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.2
b    3.4
c    1.4
d    0.2
Name: 15, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object

x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64

y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.5
b    2.4
c    3.7
d    1.0
Name: 38, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64

y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5

Name: 70, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor

Name: 106, dtype: object
x is:  a    6.3
b    2.5
c    4.9
d    1.5
Name: 70, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object

x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object

x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    6.4
b    3.1
c    5.5
d    1.8
Name: 4, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.7
b               2.5
c               5.8
d               1.8
Y    Iris-virginica
Name: 1, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.1
b                  3
c                4.6
d                1.4
Y    Iris-versicolor
Name: 2, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a              5
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 3, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.7
b            3.2
c            1.6
d            0.2
Y    Iris-setosa
Name: 4, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.3
b               2.5
c                 5
d               1.9
Y    Iris-virginica
Name: 5, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.1
b            3.8
c            1.9
d            0.4
Y    Iris-setosa
Name: 6, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                  6
b                2.7
c                5.1
d                1.6
Y    Iris-versicolor
Name: 7, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.8
b                2.7
c                4.1
d                  1
Y    Iris-versicolor
Name: 8, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a              5
b            3.5
c            1.6
d            0.6
Y    Iris-setosa
Name: 9, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.4
b            2.9
c            1.4
d            0.2
Y    Iris-setosa
Name: 10, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.9
b                3.1
c                4.9
d                1.5
Y    Iris-versicolor
Name: 11, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.4
b               3.2
c               5.3
d               2.3
Y    Iris-virginica
Name: 12, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.4
b            3.9
c            1.3
d            0.4
Y    Iris-setosa
Name: 13, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.4
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 14, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.2
b                2.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 15, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.9
b               3.1
c               5.1
d               2.3
Y    Iris-virginica
Name: 16, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.8
b              4
c            1.2
d            0.2
Y    Iris-setosa
Name: 17, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.3
b                2.3
c                4.4
d                1.3
Y    Iris-versicolor
Name: 18, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.1
b                2.5
c                  3
d                1.1
Y    Iris-versicolor
Name: 19, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.6
b                  3
c                4.1
d                1.3
Y    Iris-versicolor
Name: 20, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.2
b                 3
c               5.8
d               1.6
Y    Iris-virginica
Name: 21, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.3
b              3
c            1.1
d            0.1
Y    Iris-setosa
Name: 22, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.7
b                3.1
c                4.4
d                1.4
Y    Iris-versicolor
Name: 23, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.2
Y    Iris-setosa
Name: 24, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.6
b            3.4
c            1.4
d            0.3
Y    Iris-setosa
Name: 25, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a              5
b            3.5
c            1.3
d            0.3
Y    Iris-setosa
Name: 26, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.2
b                2.7
c                3.9
d                1.4
Y    Iris-versicolor
Name: 27, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.4
b            3.4
c            1.7
d            0.2
Y    Iris-setosa
Name: 28, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.2
b               2.8
c               4.8
d               1.8
Y    Iris-virginica
Name: 29, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.7
b                 3
c               5.2
d               2.3
Y    Iris-virginica
Name: 30, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.9
b               3.2
c               5.7
d               2.3
Y    Iris-virginica
Name: 31, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.4
b            3.9
c            1.7
d            0.4
Y    Iris-setosa
Name: 32, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a              5
b            3.4
c            1.6
d            0.4
Y    Iris-setosa
Name: 33, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.3
b               2.7
c               4.9
d               1.8
Y    Iris-virginica
Name: 34, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.1
b                 3
c               5.9
d               2.1
Y    Iris-virginica
Name: 35, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.1
b               2.6
c               5.6
d               1.4
Y    Iris-virginica
Name: 36, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                  5
b                  2
c                3.5
d                  1
Y    Iris-versicolor
Name: 37, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.4
b                3.2
c                4.5
d                1.5
Y    Iris-versicolor
Name: 38, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.7
b            4.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 39, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.1
b            3.3
c            1.7
d            0.5
Y    Iris-setosa
Name: 40, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.4
b            3.4
c            1.5
d            0.4
Y    Iris-setosa
Name: 41, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.8
b            3.4
c            1.6
d            0.2
Y    Iris-setosa
Name: 42, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.8
b            3.1
c            1.6
d            0.2
Y    Iris-setosa
Name: 43, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                  6
b                2.9
c                4.5
d                1.5
Y    Iris-versicolor
Name: 44, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.7
b                2.6
c                3.5
d                  1
Y    Iris-versicolor
Name: 45, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.5
b               3.2
c               5.1
d                 2
Y    Iris-virginica
Name: 46, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.9
b               3.8
c               6.4
d                 2
Y    Iris-virginica
Name: 47, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.1
b            3.4
c            1.5
d            0.2
Y    Iris-setosa
Name: 48, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.7
b            3.2
c            1.3
d            0.2
Y    Iris-setosa
Name: 49, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a              5
b              3
c            1.6
d            0.2
Y    Iris-setosa
Name: 50, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.3
Y    Iris-setosa
Name: 51, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.8
b            3.4
c            1.9
d            0.2
Y    Iris-setosa
Name: 52, dtype: object

x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.3
b            3.7
c            1.5
d            0.2
Y    Iris-setosa
Name: 53, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.2
b            4.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 54, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.3
b               3.4
c               5.6
d               2.4
Y    Iris-virginica
Name: 55, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.7
b               2.6
c               6.9
d               2.3
Y    Iris-virginica
Name: 56, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.7
b               2.8
c               6.7
d                 2
Y    Iris-virginica
Name: 57, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               5.7
b               2.5
c                 5
d                 2
Y    Iris-virginica
Name: 58, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.8
b               3.2
c               5.9
d               2.3
Y    Iris-virginica
Name: 59, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.4
b               2.8
c               6.1
d               1.9
Y    Iris-virginica
Name: 60, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.6
b                 3
c               6.6
d               2.1
Y    Iris-virginica
Name: 61, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.4
b              3
c            1.3
d            0.2
Y    Iris-setosa
Name: 62, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.7
b            3.8
c            1.7
d            0.3
Y    Iris-setosa
Name: 63, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.5
b                2.8
c                4.6
d                1.5
Y    Iris-versicolor
Name: 64, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               5.6
b               2.8
c               4.9
d                 2
Y    Iris-virginica
Name: 65, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.7
b                 3
c               6.1
d               2.3
Y    Iris-virginica
Name: 66, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.5
b                2.5
c                  4
d                1.3
Y    Iris-versicolor
Name: 67, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.6
b            3.6
c              1
d            0.2
Y    Iris-setosa
Name: 68, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.3
b                3.3
c                4.7
d                1.6
Y    Iris-versicolor
Name: 69, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.4
b               2.8
c               5.6
d               2.1
Y    Iris-virginica
Name: 70, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                 6
b                 3
c               4.8
d               1.8
Y    Iris-virginica
Name: 71, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               7.2
b               3.6
c               6.1
d               2.5
Y    Iris-virginica
Name: 72, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.4
b                  3
c                4.5
d                1.5
Y    Iris-versicolor
Name: 73, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.1
b            3.5
c            1.4
d            0.3
Y    Iris-setosa
Name: 74, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                  5
b                2.3
c                3.3
d                  1
Y    Iris-versicolor
Name: 75, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.8
b                 3
c               5.5
d               2.1
Y    Iris-virginica
Name: 76, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.5
b                2.4
c                3.8
d                1.1
Y    Iris-versicolor
Name: 77, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.4
b               2.7
c               5.3
d               1.9
Y    Iris-virginica
Name: 78, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.5
b            3.5
c            1.3
d            0.2
Y    Iris-setosa
Name: 79, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 80, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.6
b                  3
c                4.4
d                1.4
Y    Iris-versicolor
Name: 81, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.7
b                2.8
c                4.1
d                1.3
Y    Iris-versicolor
Name: 82, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               5.8
b               2.7
c               5.1
d               1.9
Y    Iris-virginica
Name: 83, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.6
b                2.7
c                4.2
d                1.3
Y    Iris-versicolor
Name: 84, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.6
b            3.2
c            1.4
d            0.2
Y    Iris-setosa
Name: 85, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.2
b               3.4
c               5.4
d               2.3
Y    Iris-virginica
Name: 86, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.1
Y    Iris-setosa
Name: 87, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.5
Y    Iris-virginica
Name: 88, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.9
b            3.1
c            1.5
d            0.2
Y    Iris-setosa
Name: 89, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.1
b                 3
c               4.9
d               1.8
Y    Iris-virginica
Name: 90, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.2
b                2.9
c                4.3
d                1.3
Y    Iris-versicolor
Name: 91, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.7
b               3.3
c               5.7
d               2.1
Y    Iris-virginica
Name: 92, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.5
b                2.3
c                  4
d                1.3
Y    Iris-versicolor
Name: 93, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            4.8
b              3
c            1.4
d            0.1
Y    Iris-setosa
Name: 94, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               4.9
b               2.5
c               4.5
d               1.7
Y    Iris-virginica
Name: 95, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                  6
b                3.4
c                4.5
d                1.6
Y    Iris-versicolor
Name: 96, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.2
b            3.5
c            1.5
d            0.2
Y    Iris-setosa
Name: 97, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.9
b                  3
c                4.2
d                1.5
Y    Iris-versicolor
Name: 98, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                  7
b                3.2
c                4.7
d                1.4
Y    Iris-versicolor
Name: 99, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.7
b                2.9
c                4.2
d                1.3
Y    Iris-versicolor
Name: 100, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a            5.1
b            3.8
c            1.5
d            0.3
Y    Iris-setosa
Name: 101, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               5.8
b               2.8
c               5.1
d               2.4
Y    Iris-virginica
Name: 102, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.3
b               3.3
c                 6
d               2.5
Y    Iris-virginica
Name: 103, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                6.1
b                2.9
c                4.7
d                1.4
Y    Iris-versicolor
Name: 104, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                4.9
b                2.4
c                3.3
d                  1
Y    Iris-versicolor
Name: 105, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a                5.6
b                2.5
c                3.9
d                1.1
Y    Iris-versicolor
Name: 106, dtype: object
x is:  a    5.6
b    2.9
c    3.6
d    1.3
Name: 11, dtype: float64
y is:  a               6.9
b               3.1
c               5.4
d               2.1
Y    Iris-virginica
Name: 107, dtype: object

[[ 6  0  0]
 [ 0 10  3]
 [ 0  0  8]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         6
Iris-versicolor       1.00      0.77      0.87        13
 Iris-virginica       0.73      1.00      0.84         8

      micro avg       0.89      0.89      0.89        27
      macro avg       0.91      0.92      0.90        27
   weighted avg       0.92      0.89      0.89        27

0.8888888888888888

In [72]:
def test_function(dataset):
    testfile = sys.argv[2]
    if dataset=="iris":
        df = pd.read_csv(testfile, names = ["a", "b", "c", "d"])
    elif dataset=="robot1":
        df = pd.read_csv(testfile, delim_whitespace=True, names = ["a", "b", "c", "d", "e", "f", "g"])
        df = df.drop(['g'],axis=1)
    else:
        df = pd.read_csv(testfile, delim_whitespace=True, names = ["a", "b", "c", "d", "e", "f", "g"])
        df = df.drop(['g'],axis=1)
    return predict(df,5)

print test_function(dataset)

x is:  a      {
b    NaN
c    NaN
d    NaN
Name: 0, dtype: object
y is:  a              5
b            3.6
c            1.4
d            0.2
Y    Iris-setosa
Name: 0, dtype: object

TypeError: unsupported operand type(s) for -: 'float' and 'str'